{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>json</title>
    <script src={% static 'vue.js' %}></script>
    <script src={% static 'axios.min.js' %}></script>
</head>
<body>

    <div id="vform">
        <input type="text" class="context" v-model="searchData">
        <input type="button" class="commit" v-on:click="search" value="提交">
    </div>

    <script type="text/javascript">
        var datamessage = [];
        new Vue({
            el:'#vform',
            data : {
                searchData :""
            },
            methods: {
                search(){
                    {#var params = new URLSearchParams();#}
                    {#console.log(this.searchData);#}
                    {# 需要传输的数据                   #}
                    var data = {
                        "goodsId": 1, //商品id
                        "userId": 1,    // 用户id
                        "type": 2,    // 传1是收藏，传2是购物车
                        "operate": 1 // 0是删除， 1是添加
                    }

                    axios.post('http://127.0.0.1:8000/collect/search/',data)
                        .then((response )=>{
                            console.log(response)
                        }).catch(function (error) {
                        console.log(error);
                    });
                },
            }
        })


    </script>
</body>
</html>